.widget-dropdown-reference, .widget-dropdown-reference-set {
  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #0595db;
    box-shadow: unset;
  }

  select.has-value.is-focused.is-open > .Select-control {
    border-color: #0595db;
    box-shadow: unset;
  }

  .Select-menu-outer {
    border-color: #0595db;
    box-shadow: none;
  }
}
