.widget-dropdown-reference {
  overflow: hidden;

  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #0595DB;
    box-shadow: unset;
  }

  .Select.has-value.is-focused.is-open > .Select-control {
    border-color: #0595DB;
    box-shadow: unset;
  }

  .Select-menu-outer {
    visibility: hidden;
    top: auto;
    border-color: #0595DB;
    box-shadow: none;
  }
}

.widget-dropdown-reference-set {
  overflow: hidden;

  .Select.is-focused:not(.is-open) > .Select-control {
    border-color: #0595DB;
    box-shadow: unset;
  }

  .Select.Select-control {
    border-color: #0595DB;
    box-shadow: unset;
    background: #fff;
  }

  .Select-menu-outer {
    visibility: hidden;
    top: auto;
    border-color:  #0595DB;
    box-shadow: none;
  }
}
