
[class*='css-1sontr1'] {
    cursor: not-allowed !important;
    pointer-events: auto !important;
}

.widget-dropdown-type-ahead-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF !important;
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    height: 10px !important;

    .css-1rtrksz {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 2px 8px;
        -webkit-overflow-scrolling: touch;
        position: relative;
        box-sizing: border-box;
        background-color: inherit ;

        .css-1wy0on6 {
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-align-self: stretch;
            -ms-flex-item-align: stretch;
            align-self: stretch;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            background-color: inherit ;
            box-sizing: border-box;
        }
    }
}

.css-1ep9fjw {
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    box-sizing: border-box;
    padding: 0px !important;
}

.css-d8oujb {
    display: none !important;
}

.css-19bqh2r {
    fill:  #555555 !important;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.css-2o5izw {
    box-shadow: none !important;
}

.css-162g8z5 {
    background-color: #eee !important;
    opacity: 1;
    :hover{ cursor: not-allowed !important;}
}

.widget-dropdown-type-ahead__single-value--is-disabled {
    color: inherit !important;
}

.widget-dropdown-type-ahead__menu {
    .widget-dropdown-type-ahead__option {
        color: #555555 !important;
    }
}

.widget-dropdown-type-ahead-alert{
    margin-top: 4px !important;
}

.widget-dropdown-type-head-arrow-container {
    padding-left: 4px !important;
    padding-right: 4px;
}

.css-15k3avv {
    box-shadow: none !important;
    margin-top: auto !important;
    padding: unset !important;
}

.css-1gz2om7 {
    position: unset !important;
}

.css-1sjym57 {
    @extend .css-1ep9fjw;
}

.css-va7pk8 {
    margin-left: -8px !important;
}

.css-142w6gm {
    @extend .css-va7pk8;
    color: #000000 !important;
}

.css-9b5vae {
    @extend .css-15k3avv;
    margin-bottom: auto !important;
}
