.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #0595DB !important;
  box-shadow: unset !important;
}

.Select.Select-control {
  border-color: #0595DB;
  box-shadow: unset !important;
  background: #fff;
}

 Select.has-value.is-focused.is-open > .Select-control {
  border-color: #0595DB !important;
  box-shadow: unset !important;
 }

 .Select-clear-zone {
  padding-top: 5px !important;
}

.Select-clear-zone:hover {
  color: inherit !important;
}

.Select-menu-outer {
  // margin-top: 0px !important;
  border-color:  #0595DB !important;
  box-shadow: none !important;
}

.Select.is-focused > .Select-control {
  border-color: #0595DB !important;
}

.Select-option.is-selected {
  background-color: #fff !important;
}

.Select-option.is-focused {
  color: #fff !important;
  background-color: #0595DB !important ;
}

.Select-option {
  display: default !important;
  padding: 6px 10px !important;
}

[class*="is-disabled"]{
  background-color: #eee !important;
  opacity: 1;

  :hover { cursor: not-allowed !important; }
}

.Select.is-disabled > .Select-control {
  background-color: inherit !important;
  opacity: 0.9;
}